<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patelcodex.Supplimo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainApplication">
        <activity
            android:name="com.patelcodex.Supplimo.view_details"
            android:exported="true" />
        <activity
            android:name="com.patelcodex.Supplimo.about_us"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.patelcodex.Supplimo.splash_screen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.patelcodex.Supplimo.help_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.patelcodex.Supplimo.address_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.patelcodex.Supplimo.orders_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.patelcodex.Supplimo.payment_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.patelcodex.Supplimo.details_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.patelcodex.Supplimo.cart_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.patelcodex.Supplimo.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>